h1 {
  font-family: "Urbanist", serif;
  text-align: center;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

div div {
  width: 150px;
  height: 400px;
  margin-top: 30px;
}

#first {
  background-color: #ff6b35;
}

#second {
  background-color: #f7c59f;
}

#third {
  background-color: #efefd0;
}

#fourth {
  background-color: #004e89;
}

#fifth {
  background-color: #1a659e;
}
